# 들어가기 : 주석

In [2]:
# 이코드는 실행되지 않습니다.
# age = input()
#age

In [2]:
# 이코드는 실행되지 않습니다.
# age = input()
#age

In [8]:
def calculate_sum(a, b) :
    result = a + b
    
    return result

print( calculate_sum(3, 4) )

7

# 표준 입력과 표준 출력

In [11]:
12345
10
# ipython 라이브러리의 기본 기능
# print(12345) 표준출력 기능을 내장하고 있다.

10

In [12]:
print(12345)
10

12345

10

In [13]:
'12345'  # 문자열 str

'12345'

In [14]:
type('12345')

str

In [15]:
type(12345)

int

In [16]:
12345+10

12355

In [19]:
#'12345'+10  #typeerror

In [23]:
"12345"*3

'123451234512345'

In [29]:
name = input('당신의 이름을 입력하세요')

당신의 이름을 입력하세요 김영리

In [27]:
age = input('당신의 나이를 입력하세요')
age

당신의 나이를 입력하세요 24

'24'

In [28]:
age

'24'

In [30]:
#입력받은 name을 출력
name

'김영리'

In [32]:
print(age, name)

24 김영리

In [34]:
print( '나는 '+name+'이고 나이는 '+age+'입니다.')

나는 김영리이고 나이는 24입니다.

In [38]:
age = int(age)

In [39]:
age + 10

34

# 연습

In [40]:
# 자기 이름으로 삼행시 짓기

print('바: 바밤바는 ')
print('밤: 밤이 들어 있는 ')
print('바: 바이다')

바: 바밤바는
밤: 밤이 들어 있는
바: 바이다

In [42]:
line1 = input('바: ')
line2 = input('밤: ')
line3 = input('바: ')

바:  바밤바는
밤:  밤이 들어 있어
바:  바밤바 먹고 싶다

바밤바는! 밤이 들어 있어 ! 바밤바 먹고 싶다

In [44]:
print(line1, line2, line3, sep='\n ')  #줄바꿈 기호

바밤바는
 밤이 들어 있어
 바밤바 먹고 싶다

문자열의 시작이 \ 역슬래시 -> 이스케이스 문자, 특수 문자
\n
\t
\\

In [57]:
삼행시 = line1 +'\n'+ line2 +'\n'+ line3
print(삼행시)
삼행시

바밤바는
밤이 들어 있어
바밤바 먹고 싶다

'바밤바는\n밤이 들어 있어 \n바밤바 먹고 싶다'

# 변수

변수는 type safe : 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성  
변수명 = 값

## 변수의 명명규칙
1. 문자, 숫자, 밑줄(_ 언더바)을 가지고 만든다
2. 숫자로 시작하면 X
3. 대소문자를 구분
4. 예약어, 특수기호, 공백 X

In [53]:
false dd = 10

SyntaxError: invalid syntax (1367459037.py, line 1)

In [54]:
x = 10
y = 'hello'
z = 3.141592
x,y,z

(10, 'hello', 3.141592)

In [56]:
print(type(x), type(y), type(z))

<class 'int'> <class 'str'> <class 'float'>

In [58]:
a,b,c = 10,20,30
a,b,c

(10, 20, 30)

In [60]:
a=10; b=20; c=30

In [61]:
a = b = c = 40
a,b,c

(40, 40, 40)

In [63]:
d = True #bool형
e = None #type이 없음 NoneType 
d,e

(True, None)

In [2]:
a = 10
b = a
print(a,b)
id(a), id(b)

10 10

(140731316513496, 140731316513496)

In [3]:
# 의미 부여 하기 어려운 변수명 > 수식이 아닌 경우는 사용하지 않음
x = 100
y = 100

# 의미 있는 변수명
age = 20
name = '김영리'
user_name = 'Alic'
admin_name = 'Bob'

#대문자 Upper-case 상수에 사용
PI = 3.141592
MAX_CONNECTIONS = 10 #최대 연결 수
MIN_VALUE = 0 #최소값

## NAME_SPACE

변수가 최초로 정의된 영역에 따라 유효범위가 결정됩니다.   

- 지역변수 : 함수 영역 내에서 선언한 변수
- 전역변수 : 함수 영역 밖에서 선언한 변수, global 키워드
- 정적변수 : 클래스에서 사용하는 변수

In [8]:
# 지역변수 local variable
def local_example():
    local_var = 100
    print('여기는 함수의 영역입니다. ', local_var)

#local_var #NameError: name 'local_var' is not defined
local_example()

여기는 함수의 영역입니다.  100

In [11]:
# 전역 변수 global variable
global_var = '나는 전역이다'
print(global_var)

def global_example():
    local_var = 100
    print('여기는 함수의 영역입니다. ', local_var, global_var)

global_example()

나는 전역이다
여기는 함수의 영역입니다.  100 나는 전역이다

In [15]:
# 전역 변수 global variable
var_test = '나는 전역이다'
print(var_test)

def global_example():
    global var_test
    var_test = 100
    print('여기는 함수의 영역입니다. ', var_test)

global_example()
print(var_test)

나는 전역이다
여기는 함수의 영역입니다.  100
100

In [18]:
# 변수 영역 연습

counter = 0 #global

def increment_counter():
    #counter = counter + 1
    global counter 
    counter += 1
    print('카운터 : ', counter)

increment_counter()
increment_counter()
increment_counter()

카운터 :  1
카운터 :  2
카운터 :  3

# 교재 변수 연습

In [19]:
a=123
a=-178
a=0
a

0

# 자료형 

- 기본 자료형 : 숫자형, 문자열형 str, 부울형
- 복합 자료형 : 리스트, 셋, 튜플, 딕셔너리

| type | 설명 | 예 |
|--------|--------|--------| 
| 정수형 (int) | 정수를 저장하는 자료형 | 1, -5, 100 |
|실수형 (float)|소수점이 있는 숫자를 저장하는 자료형 | 3.14, -0.001, 2.0|
|문자열 (str)|텍스트를 저장하는 자료형|"Hello", '파이썬'|
|논리형 (bool)|참/거짓 값을 저장하는 자료형|True, False|

- 수정 불가능한 데이터 타입 : 수치형, 부울형, 문자열, 튜플
- 수정 가능한 데이터 타입 : 리스트, 딕셔너리, 셋

In [21]:
# 수치형 - int
20, type(20)

(20, int)

In [22]:
age = 20
type(age)

int

1. 진법 : 10진수, 2진수, 8진수, 16진수
2. 입력하는 방법은 다르지만, print() 결과는 동일하다.

In [23]:
a = 10
b = 0b0101 #2진수 - 0/1 로 표현하는 방법 -> 0101 = 2^3 + 2^2 + 2^1 + 2^0 = 
a,b

(10, 5)

In [24]:
c = 0o10 # 0o 8진수 , 10 -> 8^1 + 8^0 = 8*1 + 0*0 = 8
c

8

In [25]:
d = 0b1000
d

8

In [30]:
e = 0x16d #> 1*16^2 + 6 * 16^1 + d(13)*16^0(1) = 256 + 96 + 16
16**2, 16*6, e

(256, 96, 365)

In [32]:
# float
b = 3.14
b, type(b)

(3.14, float)

지수의 표기

숫자 e2 -> 10^2의 곱 = 10**2
숫자 e-2 -> 10^-2의 곱 = 10**-2

In [86]:
fa = 10e2
fa, 10* 10**2

(1000.0, 1000)

In [87]:
fb = 10e-2
fb, 10* 10**-2

(0.1, 0.1)

In [88]:
fc = 3.1415e9
fc, 3.1415 * 10**9

(3141500000.0, 3141500000.0)

BOOLEAN값 - True, False   
논리연산, 비교연산

In [38]:
ba = True
bb = true
type(ba), type(bb)

NameError: name 'true' is not defined

In [41]:
ba == 0

False

In [42]:
ba == 'True'

False

In [43]:
#논리 연산자 - and or not

bc = 1
ba and bc

1

In [44]:
# 사칙연산 + - * / // %
a=2
b=3

In [51]:
a+b
a-b
a*b
a/b, a//b , a%b #몫, 나머지

(0.6666666666666666, 0, 2)

In [57]:
#비교 연산자
1+2 == 3
1+2 != 3
1+3 > 3
1+3 <= 4

True

In [58]:
# 비교연산자와 논리연산자의 결합
10%2 == 0 and 12%3 == 0

True

In [60]:
a = '1234'
b = '5678'
a,b, id(a), id(b)

('1234', '5678', 1468055656832, 1468092948352)

In [61]:
id(a) == id(b)

False

In [62]:
# 대입연산자
a = 10
b = a+2
a,b

(10, 12)

In [63]:
a = 20
a += 1  # a = a + 1
a

21

In [64]:
a -= 1 # a = a - 1  , 21 - 1 = 20
a

20

In [66]:
a = 3
b=2
a += 2 + b
a

7

# 문자열 str
' ' , " " , """ """, ''' '''  docstring

In [67]:
a = 'hello'
b = 'python'
a + b  #+ 는 문자열끼리 연산

'hellopython'

In [68]:
c = '*'
c*10 #*는 숫자와 연산

'**********'

In [70]:
d = "Kim's family"
d

"Kim's family"

In [71]:
e = '1'
e == '1'

True

In [73]:
# 문자열은 리스트, 열거형
a = '20010331Rabcd' #13개의 글자의 목록
a[0] #숫자 자리수 > 인덱스

'2'

In [74]:
a[3]  #인덱싱

'1'

In [78]:
a[0:4] #영역을 지정할 때 : (콜론), 슬라이싱 slice
a[:4]

'2001'

In [77]:
#Rab  a = '20010331Rabcd'
a[8:11]

'Rab'

In [79]:
a[9:] #index = 0에서 시작한다

'abcd'

In [80]:
s = 'abc'
a = s
a is s

True

In [81]:
b = s[:]
a is b

True

In [83]:
s1 = '1'*1000
b = s1[:]
s1 == b

True

In [85]:
#구성원 연산자
'a' in s

True