# 자료형 비교

| 항목       | 리스트 `[]`  | 딕셔너리 `{}`      | 튜플 `()`     | 세트 `set()`          |
| -------- | --------- | -------------- | ----------- | ------------------- |
| 변경 가능성   | ✅ mutable | ✅ mutable      | ❌ immutable | ✅ mutable (내용)      |
| 구분 기호    | `[]`      | `{key: value}` | `()`        | `{값, 값}` 또는 `set()` |
| 순서       | ✅ 있음      | ✅ 있음 (3.7 이후)  | ✅ 있음        | ❌ 없음 (정렬 안 됨)       |
| 중복 허용    | ✅ 허용      | ❌ 키 중복 불가      | ✅ 허용        | ❌ 허용 안 함            |
| 인덱싱/슬라이싱 | ✅ 가능      | ❌ 키로 접근        | ✅ 가능        | ❌ 불가능               |
| 주요 용도    | 순차적 자료 보관 | 키-값 쌍 저장       | 고정된 값 묶음    | 집합 연산, 중복 제거        |

1. 리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.

In [2]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]

#답을 작성하세요.

2. 리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.

In [3]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
#답을 작성하세요.

3. 다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing

In [ ]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
#답을 작성하세요.

In [ ]:
4. 리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

5. 아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.

In [ ]:
tuple_a = ("apple", "banana", "cherry")

6. 변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.

In [ ]:
a = 5
b = 10
c = 15

7. 튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.

In [ ]:
numbers = (92, 89, 72, 31, 71, 33, 19)

8. dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.

- name: "Alice"
- age: 24
- major: "Computer Science"

9. 위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

10. 위에서 생성한 student에서, age(나이)를 26으로 변경하세요.

In [ ]:
11. 다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요

In [ ]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}