# 예외의 종류

1. 문법오류 : SyntaxError, NameError, TypeError
https://docs.python.org/ko/3/library/exceptions.html#bltin-exceptions
3. 논리오류
4. 예외상황

In [1]:
while True
    print('hello')

SyntaxError: expected ':' (1034960825.py, line 1)

In [2]:
4 + 2*am

NameError: name 'am' is not defined

In [3]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# try :
except

In [5]:
#10/0 #ZeroDivisionError

In [6]:
def divide(m, n):
    return m/n

In [7]:
result = divide(3,2)
result

1.5

In [8]:
result = divide(3,0)
result

ZeroDivisionError: division by zero

In [30]:
def divide(m, n, s):
    try:
        result = m/n
        result += int(s)
        return result
    except (ValueError, ZeroDivisionError):
        print('0으로 나눌수 없습니다')
        return None
    except : #나머지 모든 에러 받기
        print('다른 에러가 발생했습니다.')
        return None
    finally:
        print("항상 실행되는 코드입니다.")

In [21]:
result = divide(3,0)
result

0으로 나눌수 없습니다

In [31]:
divide(3,2,'a')

0으로 나눌수 없습니다
항상 실행되는 코드입니다.

# 예외 발생시키기

In [33]:
raise TypeError('입력값오류')

TypeError: 입력값오류

In [34]:
try:
    raise TypeError('입력값오류')
except TypeError as e :
    print(e.args)

('입력값오류',)

# 내가 정의하는 예외

1. 예외 클래스 작성 : 각 예외상황에 맞는 메시지를 작성
2. 호출할 때 try: except 로 받아줍니다.

In [36]:
class AgeException(Exception):
    def __init__(self, msg):
        self._message = msg

def input_age():
    age = int(input('나이를 입력하세요 : '))

    if age < 0 :
        raise AgeException('나이는 양수입니다.')
    elif age > 150:
        raise AgeException('150세 이상??')
    else :
        return age

In [41]:
try:
    age = input_age()
except AgeException as e:
    print(e.args[0])
else:
    print(f'입력하신 나이는 {age}세입니다.')

나이를 입력하세요 :  20

입력하신 나이는 20입니다.